.accordion-item {
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
}

.recipeResults {
    display: flex;
    justify-content: flex-start;
}

/* .recipePageHeader {
    background-image: url("https: //images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-4.0.3&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=4800");
} */