.background {
    background-image: url('https://img.freepik.com/premium-photo/food-cooking-background-stone-texture-with-sea-salt-pepper-garlic-parsley-light-grey-abstract-food-background-empty-space-text-can-be-used-food-posters-design-menu-top-view_253362-16400.jpg?w=2000');
    background-repeat: no-repeat;
    box-shadow: inset 2px 20px 55px 55px #2f2f2f38;
    height: 100vh;
}

.edit-profile-title {
    text-align: center;
}