.homepageTitle {
    text-align: center;
}

.homepageForm {
    align-content: center;
    margin: 0px;
    min-width: 100vw;
    min-height: 800px;
    position: relative;

}

.bgImageHP {
    opacity: 50%;
    width: 100vw;
    position: absolute;
    height: 800px;
}

.HPBody {
    position: absolute;
    left: 0px;
    right: 0;
    top: 55px
}