.navbar {
    padding: 20px;
    background-color: transparent !important;
    /* border-bottom: 2px solid rgba(16, 125, 18, 0.881); */
    /* background: rgb(149,149,149);
    background: linear-gradient(90deg, rgba(10, 104, 12, 0.7) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 70%, rgba(10, 104, 12, 0.7) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100; */
}

.navlink {
    text-decoration: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.dropdown {
    background-color: rgba(255, 0, 0, 0);
}
.dropdown:active {
    color: black;
    background-color: white;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6a8824;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logoFrigo {
    width: 100px;
}