.profile-image{
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 170px;
    width: 170px;
    box-shadow: 2px 2px 2px 1px rgba(47, 47, 47, 0.12);
}