.nav-pills .nav-link.active {
    background-color: #1792469d;
    color: white;
    font-weight: 500;
    max-width: 150px;
}

.nav-link {
    color: rgb(141, 141, 141);
    max-width: 150px;
}

.nav-link:hover {
    color: black;
}

.dbRSTitle {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.minutes {
    text-align: center;
}

.nav-pills {
    margin-left: 90px;
}

@media print {
    .noPrint {
        display: none;
    }
}