.ingredientResult {
    font-weight: 600;
    font-size:80%;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.816);
}

.clearBtn {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: black;
}
.clearBtn:hover {
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 0px white;
    color: black;
    border-top: 0px white;
    border-right: 0px white;
    border-left: 0px white;
    text-decoration: underline; 
}
.clearBtn:active {
    background-color: white;
    border-color: rgba(255, 255, 255, 0);
    color: black;
}

.ingredientsList {
    justify-content: center;
    display: flex;
}