.createRecipeBtn {
    border-radius: 5px;
    background-color: rgba(47, 102, 40, 0.714);
    border-color: rgba(47, 102, 40, 0.714);
}

.createRecipeBtn:hover {
    border-radius: 25px;
    background-color: rgba(47, 102, 40, 0.993);
    border-color: rgba(47, 102, 40, 0.993)
}