@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');

.body{
    margin-top: 500px;
}

.Frigo {
    font-family: Montserrat;
    height: 100vh;
    width: 100vw;

}


a {
    color: #000000;
    text-decoration: none;
}
.titles {
    text-align: center;
    border-radius: 30px;
 /*    margin-top: 50px; */
    margin-bottom: 0px;
    font-weight: normal;
}

.hr {
    margin-bottom: 0px;
}