.IngrContainer {

    text-align: center;
}
.IngrContainer p {
    width: 50%;
}

.dbIngTitle {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}
.servings {
    margin-left: 330px;
}

.block {
    display:inline;
}

.cartButton {
    width: min-content;
    display: inline;
    border:0
}